<ion-view view-title="METRO APP">
  <ion-content class="padding">
    <h2 class="align">Welcome to Metro App</h2>
    <div class="container" ng-controller="MyCtrl">
     <h4>Select a Destination and then Bus stop:</h4>
    <form name="myForm">
        <label class="item item-input">
          <span class="input-label">Destination?</span>
          <select ng-model="item.route" ng-change="getBusstopNames(item.route)">
            <option value=''>Select</option>
            <option ng-repeat="route in routeNames" value="{{ route }} ">{{route}}</option>
          </select>
          
        </label>

        <label class="item item-input">
          <span class="input-label">Bus Stop?</span>
          <select ng-model="item.busstop"
                  ng-change="getModelNames(item.route, item.busstop)"
                  ng-disabled="!item.route">
            <option value=''>Select</option>
            <option ng-repeat="busstop in busstopNames" value="{{ busstop }} ">{{busstop}}</option>
          </select>
          
        </label>
        
       



        <!--  <label class="item item-input">
          <span class="input-label">Model</span>
          <select ng-model="item.model"
                  ng-disabled="!item.size">
            <option value=''>Select</option>
            <option ng-repeat="model in modelNames" value="{{ model }} ">{{model}}</option>
          </select>
        
        </label> -->
        <label class="item item-input">
          <button class="button button-full button-calm" ng-click="PostTo()">Verify</button>
        
          
        </label>
        
      </form>
    </div>
    


  </ion-content>
</ion-view>
